click # command line interfaces
PyYAML # yaml parser and emitter
pandas==1.5.3 # data structures and operations for manipulating numerical tables
humanize # human-readable siz
SQLAlchemy==1.4 # connection pooling for datasorces
